main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

h2 {
  margin-top: 0.5rem;
  color: #42b883;
}

p {
  font-size: 1.2rem;
  max-width: 700px;
}
